/ <%# locals: (form:, offer:, event:) -%>

- if form.object.errors.any?
  .alert.alert-danger.mb-3.text-center
    i.fa-solid.fa-exclamation-triangle.me-2
    = t("admin.application.form.error", count: form.object.errors.count)

h5.m-0 Allgemeine Angaben
hr.mt-1.mb-3
= form.input :published, as: :boolean
= form.input :date_and_time, html5: true
.row
  .col
    = form.input :duration
  .col
    = form.input :location
    = form.input :online, as: :boolean
    = form.input :online_url
.row
  .col
    = form.input :registration_required, as: :boolean
    = form.input :max_no_of_participants

h5.mt-4.mb-0 Administrative Angaben
hr.mt-1.mb-3
ul.nav.nav-tabs.mb-3
  li.nav-item
    button#confirmation-message-tab.nav-link.active(data-bs-toggle="tab" data-bs-target="#confirmation-message-pane" type="button") = "E-Mail Anmeldebestätigung"
  li.nav-item
    button#confirmation-message-preview-tab.nav-link(data-bs-toggle="tab" data-bs-target="#confirmation-message-preview-pane" type="button") = "Vorschau"

.tab-content
  #confirmation-message-pane.tab-pane.fade.show.active
    = form.input :confirmation_message, as: :text, input_html: { rows: 8 }, label: false

    = form.label :email_from
    = form.input :email_from, label: false
  #confirmation-message-preview-pane.tab-pane.fade.show
    - if event.persisted?
      = turbo_frame_tag "confirmation-message-preview", src: preview_confirmation_message_admin_offer_event_path(offer, event)
    - else
      = "Bitte speichern Sie die Veranstaltung, um eine Vorschau der E-Mail zu sehen."

/javascript:
  const previewTab = document.querySelector("#confirmation-message-preview-tab")
  previewTab.addEventListener("show.bs.tab", event => {
    const previewFrame = document.querySelector("#confirmation-message-preview")
    previewFrame.reload()
  })




