.d-flex.justify-content-between.align-items-center.gap-2.mb-4
  h3.mb-0.fw-bold
    = "Anstehenden Schulungstermine"

.row
  .col-lg-8
    = render "frontend/application/filter_bar", filter: @filter, chips: frontend_event_filter_chips(@filter)
    - if @upcoming_events.present?
      = render "listing", events: @upcoming_events
    - else
      .card: .card-body
        .text-muted = "Aktuell sind keine anstehenden Schulungstermine vorhanden."
  .col-lg-4
    .card
      .card-header
        h5.card-title.mb-0.card-title Filter
      .card-body
        = render "frontend/application/filter_offcanvas", filter: @filter, filters_partial: "frontend/events/filter_form"
