/ <%# locals: (offers:) -%>

- offers.each.with_index do |offer, i|
  - details_path = frontend_offer_path(offer)
  - margin_class = i == 0 ? "mt-0" : "mt-3"

  .card(class=margin_class)
    .card-body
      .d-flex.justify-content-between.align-items-center
        div
          = link_to details_path do
            h4.mb-3 = offer.title
          = render "categorisation_badges", object: offer
          - if offer.course?
            .mt-3
              .fw-bold = "Nächste Termine"
              - if offer.upcoming_events.any?
                ul.list-inline.mb-0
                  - offer.upcoming_events.each do |event|
                    li.list-inline-item
                      i.fa-regular.fa-calendar.fa-fw.me-1
                      = link_to l(event.date_and_time), frontend_offer_event_path(offer, event)
              - else
                span.text-muted = "Aktuell keine Termine verfügbar"
        div
          = link_to details_path, class: "btn btn-outline-primary btn-sm" do
            i.fa-solid.fa-chevron-right.fa-fw.me-1
