.d-flex.justify-content-between.align-items-center.gap-2.mb-4
  h3.mb-0.fw-bold
    = "Unsere Schulungs- & Beratungsangebote"

.row
  .col-lg-8
    - chips = frontend_offer_filter_chips(@filter)
    - margin_bottom_class = chips.present? ? "mb-3" : "mb-3 mb-lg-0"
    div(class=margin_bottom_class) = render "filter_bar", filter: @filter, chips: chips

    - if @offers.present?
      = render "listing", offers: @offers
    - else
      .card: .card-body
        .text-muted = "Keine Angebote vorhanden"
  .col-lg-4
    / Filters as offcanvas on small screens,
    .d-lg-none
      = render "filter_offcanvas", filter: @filter, filters_partial: "frontend/offers/filter_form"
    / ... as sidebar inside a card on large screens
    .d-none.d-lg-block
      .card
        .card-header
          h5.card-title.mb-0.card-title Filter
        .card-body
          = render "frontend/offers/filter_form", filter: @filter
    / Contact and help info
    .mb-0.mt-3 = render "frontend/application/contact_help_card"
