/ <%# locals: (filter:) -%>

= simple_form_for filter, as: :filter, url: admin_offers_path, method: :get, html: { data: { controller: "filter-form" } } do |form|
  = form.input :scope, as: :select, collection: [["Schulungen", "courses"], ["Beratungen", "consultings"], ["Selbstlernkurse", "self_study_courses"]], include_blank: "Alle", required: false
  = form.input :published, as: :select, collection: [["Ja", "true"], ["Nein", "false"]], include_blank: true, required: false
  = form.input :title, required: false
  = form.input :include_archived, as: :boolean, label: "Archivierte anzeigen"
