.row
  .col-12
    .card.card-shadowed
      .card-header.d-flex.align-items-center.gap-2
        h5.card-title.mb-0 = "Angebote"
        .ms-auto
        = link_to new_admin_offer_path, class: "btn btn-primary btn-sm" do
          i.fa-solid.fa-plus.me-2
          = "Neues Angebot anlegen"
      .card-body
        .mb-3 = render "application/filter_bar", filter: @filter, chips: admin_offer_filter_chips(@filter), always: true, button_end: true
        - if @offers.present?
          = render "listing", offers: @offers
        - else
          .p-2.text-muted = "Keine Angebote vorhanden"

= render "application/filter_offcanvas", filter: @filter, filters_partial: "admin/offers/filter_form", always: true
