.card {
  --#{$prefix}card-title-color: var(--#{prefix}body-color);
}

.card-title {
  color: var(--#{$prefix}card-title-color) !important;
}

@media print {
  .card {
    border: 1px solid $gray-300;

    &.card-shadowed {
      filter: none;
    }
  }
}

@include color-mode(dark, true) {
  .card {
    --#{$prefix}card-border-color: var(--#{$prefix}border-color);
  }

}
