html {
  // Disable smooth scrolling for all browsers
  scroll-behavior: auto !important;
}

#test-server-warning {
  text-align: center;
  padding: 8px;
  background: var(--bs-red);
  color: var(--bs-white);
  font-weight: bold;

  a {
    color: var(--bs-white);
    text-decoration: underline;
  }
}

.turbo-progress-bar {
  height: 3px;
  background-color: var(--bs-primary);
}

#header {
  padding: 1.5rem 0;

  .upb-logo, .logo-separator {
    height: 62px;
  }

  .logo-separator {
    margin: 0 1rem;
  }

  .ub-logo {
    height: 38px;
  }
}

@include media-breakpoint-down(md) {
  #header {
    .upb-logo, .logo-separator {
      height: 48px;
    }

    .logo-separator {
      margin: 0 0.5rem;
    }

    .ub-logo {
      height: 30px;
    }
  }
}

@include color-mode(dark) {
  .nav {
    --bs-nav-link-color: var(--bs-light);
  }

  #header {
    #upb-logo, #ub-logo {
      * {
        fill: var(--bs-light) !important;
      }

      @media print {
        * {
          fill: var(--bs-dark) !important;
        }
      }
    }

    .ub-name {
      color: var(--bs-light);

      @media print {
        color: var(--bs-dark);
      }
    }

    .app-name {
      //color: var(--bs-light);
      @media print {
        color: var(--bs-dark);
      }
    }
  }
}

#breadcrumb {
  background-color: $upb-arktisblau-20p;
  padding: calc($spacer * 1.5) 0;

  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .app-name {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    background-color: $upb-arktisblau-20p;
    margin-left: $spacer;

    &, a {
      color: var(--upb-irisviolett);
    }
  }
}

@include color-mode(dark) {
  #breadcrumb {
    background-color: var(--bs-light-bg-subtle);
  }
}

@include media-breakpoint-up(md) {
  #breadcrumb::after {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;

    $image-height: 230px;
    background-image: url("../images/decor/header-area.svg");
    height: $image-height;
    width: calc($image-height * 0.51357783);
    top: -23px;
    right: 0;
  }
}

#page {
  padding: calc($spacer * 4) 0;
  padding-bottom: calc($spacer * 5);

  .container {
    position: relative;
    z-index: 1;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $upb-ultrablau;
  }

  @media print {
    padding: 0;
  }
}

@include color-mode(dark) {
  #page {
    h1, h2, h3, h4, h5, h6 {
      color: var(--bs-light);
    }
  }
}

#footer {
  color: $white;

  a {
    color: var(--bs-white);
  }

  @media print {
    color: var(--bs-dark);
    a {
      color: var(--bs-dark);
    }
  }

  .upb-logo, .ub-logo {
    height: 62px;

    * {
      fill: var(--bs-light) !important;
    }

    @media print {
      * {
        fill: var(--bs-dark) !important;
      }
    }
  }

  .nav-link {
    color: var(--bs-white);
    padding: 0;

    &:hover {
      color: var(--bs-white);
      text-decoration: underline;

      .icon {
        translate: 0.4rem;
      }
    }

    .icon {
      padding-left: 0;
      padding-right: 0.8rem;
      transition: translate .3s ease;
    }
  }

  .app-footer {
    padding: $spacer * 3 0;
    background-color: var(--upb-himmelblau);
  }

  .upb-footer {
    padding: $spacer * 3 0;
    background-color: var(--upb-ultrablau);

    .nav.social-nav {
      display: flex;
      gap: 1rem;

      .nav-link {
        color: var(--upb-ultrablau);
        font-size: 26px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background-color: var(--bs-white);
        border-radius: 50%;
        outline: 2px solid transparent;
        outline-offset: 3px;
        transition: outline-color .15s ease-in-out, background-color .15s ease-in-out;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          outline-color: var(--bs-white);
          background-color: var(--upb-arktisblau);
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #footer {
    position: relative;

    .container {
      position: relative;
      z-index: 1;
    }

    &::before, &::after {
      position: absolute;
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      $image-height: 220px;

      background-image: url("../images/decor/footer-area-top.svg");
      height: $image-height;
      width: calc($image-height * 0.5506);
      top: -62px;
      left: 0;
    }

    &::after {
      $image-height: 300px;

      background-image: url("../images/decor/footer-area-bottom.svg");
      height: $image-height;
      width: calc($image-height * 0.51487511);
      bottom: 0;
      right: 0;
    }
  }
}

@include color-mode(dark, true) {
  #footer {
    .app-footer {
      background-color: var(--bs-light-bg-subtle);
    }

    .upb-footer {
      background-color: var(--bs-body-bg);

      .nav.social-nav {
        .nav-link {
          background-color: var(--bs-light-bg-subtle);
          color: var(--bs-white);
        }
      }
    }
  }
}

.lead {
  margin-bottom: calc($spacer * 4);
}


