= render "frontend/shared/seo_meta",
         title: t("frontend.pages.contact.title"),
         description: t("frontend.meta.contact_description"),
         canonical: frontend_contact_url

h3.fw-bold
  = "Kontakt"

= render "contact_details"
