#account-menu
  - if current_user
    .dropdown
      a.btn.btn-primary.dropdown-toggle.d-block(data-bs-toggle="dropdown" href="#")
        i.fas.fa-user
        span.ms-2.d-none.d-lg-inline = current_user.full_name
      .dropdown-menu.dropdown-menu-end
        = link_to account_root_path, class: "dropdown-item" do
          i.fas.fa-user.fa-fw
          span.ms-2 = t("application.account_menu.my_account")
        .dropdown-divider
        = link_to logout_path, data: {turbo_confirm: t("application.account_menu.logout_msg")}, class: "dropdown-item" do
          i.fas.fa-power-off.fa-fw
          span.ms-2 = t("application.account_menu.logout")
  - else
    = link_to new_session_path, class: "btn btn-primary d-block" do
      i.far.fa-user
      span.ms-1.d-none.d-md-inline =< t("application.account_menu.login")
