.dropdown(
  data-controller="color-mode-switcher"
)
  a.dropdown-toggle(
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    data-color-mode-switcher-target="colorModeButton"
  )
    i.fa-solid.fa-circle-half-stroke
  .dropdown-menu.dropdown-menu-end
    li
      button.dropdown-item(
        type="button"
        data-action="click->color-mode-switcher#setLightColorMode"
      )
        i.fa-solid.fa-sun.fa-fw(
          data-color-mode-switcher-target="lightIcon"
        )
        span.ms-1(
          data-color-mode-switcher-target="lightText"
        ) = t("application.color_modes.light")
    li
      button.dropdown-item(
        type="button"
        data-action="click->color-mode-switcher#setDarkColorMode"
      )
        i.fa-solid.fa-moon.fa-fw(
          data-color-mode-switcher-target="darkIcon"
        )
        span.ms-1(
          data-color-mode-switcher-target="darkText"
        ) = t("application.color_modes.dark")
    li
      button.dropdown-item(
        type="button"
        data-action="click->color-mode-switcher#setAutoColorMode"
      )
        i.fa-solid.fa-circle-half-stroke.fa-fw(
          data-color-mode-switcher-target="autoIcon"
        )
        span.ms-1(
          data-color-mode-switcher-target="autoText"
        ) = t("application.color_modes.auto")
