doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="msapplication-config" content="none")
    meta(name="turbo-prefetch" content="false")
    meta(name="turbo-refresh-method" content="morph")
    meta(name="format-detection" content="telephone=yes")

    / Icons. Static files in public/, because clients probe /favicon.ico and
    / /apple-touch-icon.png at fixed paths, with or without these tags.
    link rel="icon" href="/favicon.ico" sizes="32x32"
    link rel="icon" href="/icon.svg" type="image/svg+xml"
    link rel="apple-touch-icon" href="/apple-touch-icon.png"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all"
    = javascript_include_tag "application", "data-turbo-track": "reload"

    title
      - if page_title.present?
        = "#{page_title} · "
      = t("application.app_name")
      - if content_for?(:head_title_suffix)
        =< yield(:head_title_suffix)

    - if content_for?(:head)
      = yield(:head)
  body
    = render "application/test_server_warning"
    = render "application/global_message", global_message: @global_message

    #header
      = render "header"

    - if content_for?(:header_image)
      #header-image = yield(:header_image)

    #breadcrumb: .container
      = render "breadcrumb"

    #page: .container
      = render "alerts", global: true
      = yield

    #footer
      = render "footer"
